/* 复用的样式 */
.weui-btn {
    /* 内部元素定位 */
    position: relative;
    /* 行内->块级 */
    display: block;
    width: 184px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    color: #fff;
    line-height: 1.88235294;
    border-radius: 8px;
    /* margin-top: 10px; */
}

.weui-btn_primary {
    background-color: #07c160;
}

.weui-btn_primary:active {
    background-color: yellow;
}

.weui-btn_warm {
    background-color: #f2f2f2;
    color: #fa5151;
}

/* 兄弟选择器 ‘+’ */
.weui-btn + .weui-btn {
    margin-top: 10px;
} 